{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "proseWrap": "preserve",
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "proseWrap": "preserve"
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
