---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary } = basics;
---

<Section title="">
  <div class="-mt-2"></div>
  <p class="whitespace-pre-line text-base">
    {summary}
  </p>
</Section>

<a href="/blog" class="mt-2 inline-block text-sm text-skin-hue hover:underline">
  my OMSCS roundup
</a>
<br />
